/*!* Table styles *!*/

/*table {*/
/*    border: 1px solid green;*/
/*    border-collapse: collapse;*/
/*    width: 100%;*/
/*}*/

/*th {*/
/*    background-color: green;*/
/*    color: white;*/
/*    padding: 8px;*/
/*    text-align: left;*/
/*}*/

/*td {*/
/*    color: white;*/
/*    background-color: grey;*/
/*    border: 1px solid green;*/
/*    padding: 8px;*/
/*    text-align: left;*/
/*}*/

/*tr:nth-child(even) {*/
/*    background-color: #f2f2f2;*/
/*}*/

/*!* Button styles *!*/

/*button {*/
/*    background-color: white;*/
/*    border: none;*/
/*    color: green;*/
/*    cursor: pointer;*/
/*    display: inline-block;*/
/*    font-size: 14px;*/
/*    margin: 4px 2px;*/
/*    padding: 8px 16px;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    transition: background-color 0.3s ease;*/
/*}*/

/*button:hover {*/
/*    background-color: #f2f2f2;*/
/*    color: green;*/
/*}*/

/*!* Container styles *!*/

/*.container {*/
/*    float: left;*/
/*    margin-top: 20px;*/
/*    transform: translate(70em, -2em);*/
/*}*/

/*.container button {*/
/*    margin-right: 10px;*/
/*}*/

/*.company {*/
/*    color: green;*/
/*    text-decoration: none;*/
/*}*/

/*.all {*/
/*    color: red;*/
/*    text-decoration: none;*/
/*}*/

body {
    background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1614409383_56-p-fon-rabochego-stola-razmitii-temnii-63.jpg");
    background-position: center 20%;
    /* You can adjust the values to your preference */
    background-size: cover;
    /* This will make the background image cover the entire element */
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

thead {
    background-color: green;
    color: white;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: white;
    border: 1px solid green;
    color: green;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: green;
    color: white;
}

/*.company {*/
/*    color: green;*/
/*}*/

.button {
    text-align: center;
}

.button button {
    margin-top: 10px;
}
